[*.cs]

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none
