<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/qanuckorhonen/index.json" allowInsecureConnections="True" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="qanuckorhonen" />
			<add key="ClearTextPassword" value="%env:NUGET_AUTH_TOKEN%" />
		</github>
	</packageSourceCredentials>
</configuration>